*.un~
*.gitignore~
*.md~
*.gitattributes~
*.jar
*.sh~
*.bat~

.curseclient
.fabric/
.mixin.out/
.physics_mod_cache/
BTLib.dll
backups/
crash-reports/
data/
irisUpdateInfo.json
local/
logs/
minecraftinstance.json
modernfix/
mods/
patchouli_data.json
presencefootsteps/
profileImage/
resourcepacks/
saves/
screenshots/
shaderpacks/
user-prefs.json
usercache.json
usernamecache.json
.bobby/

config/tacz/
